@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans Variable", system-ui, sans-serif;
}

.bg-azure-depths {
    position: relative;
  background:
    radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(226, 232, 240, 0.15),
      transparent 70%
    ),
    #000000;
}
@layer utilities {
  .text-gradient-badge {
    @apply bg-linear-to-tl from-emerald-900 via-fuchsia-50 to-slate-800 bg-clip-text text-transparent;
  }
  .text-gradient-hero {
    @apply bg-linear-to-tr from-orange-200 via-purple-100 to-emerald-900 bg-clip-text text-transparent;
  }
}