---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="max-w-6xl mx-auto text-white/90 px-6">
        <section class="py-40 max-w-xl ">
            <p class="py-0.5 px-3 rounded-full text-blue-400 shadow-lg shadow-blue-400/10 inline-block mb-6 font-medium border border-blue-400/5 bg-blue-400/15 "> 
                ● Disponible para nuevos proyectos 
            </p>
            <h1 class="tracking-tight text-6xl font-semibold text-pretty">
                Diseñamos sitios web modernos que convierten 
                <span class="block text-gradient-hero">
                    visitas en clientes
                </span>
            </h1>
            <p class="mt-7  text-gray-50/70 text-balance">
                Desarrollo web profesional con diseño premium, código semántico y SEO técnico.
                <span class="block">Pensado para marcas que quieren verse serias y vender más</span>
            </p>
            <div>
                <a href="">
                    Contáctanos
                </a>
                <a href="">
                    Ver servicios
                </a>
            </div>
        </section>
    </main>
</Layout>
