<section class="py-16 scroll-mt-18.75" id="contact">
    <header class="text-center">
        <p class="text-blue-500 font-semibold text-lg">Contacto</p>
        <h2 class="text-6xl font-bold mb-5">Empezemos a trabajar juntos</h2>
    </header>
    <div class="max-w-6xl grid grid-cols-2 gap-8">
        
        <div>

        </div>
        
    </div>
</section>