---
import ProcessIcon from '../components/icons/ProcessIcon.astro';
import ServiceIcon from '../components/icons/ServiceIcon.astro';
import StarIcon from '../components/icons/StarIcon.astro';
---



<header class=" text-white/90 font-semibold w-full">
    <div class="mx-auto max-w-7xl px-3 flex justify-between items-center  py-6">
            <a href="#hero" class="text-[32px] hover:scale-110 transition-transform duration-300">
                webify
            </a>
        <nav>
            <ul class="flex items-center justify-center gap-x-6 text-[16px] ">
                <li>
                    <a href="" aria-label="Ir a la seccion de los servicios" class=" gap-x-2 flex items-center border border-transparent hover:bg-gray-400/5 hover:border-white/10 rounded-lg px-4 py-2 transition-all duration-300">
                        <ServiceIcon class="size-6.5 "/>
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="" aria-label="Ir a la seccion del procedimiento" class=" flex gap-x-2 items-center border border-transparent hover:bg-gray-400/5 hover:border-white/10 rounded-lg px-4 py-2 transition-all duration-300">
                        <ProcessIcon class="size-6.5 "/>
                        Procedimiento
                    </a>
                </li>
                <li>
                    <a href="" aria-label="Ir a la seccion de por que nosotros." class="flex items-center gap-x-2 border border-transparent hover:bg-gray-400/5 hover:border-white/10 rounded-lg px-4 py-2 transition-all duration-300">
                        <StarIcon class="size-6.5 "/>
                        ¿Por que nosotros?
                    </a>
                </li>
            </ul>
        </nav>
    <a href="" aria-label="Ir a seccion de contacto" class="border border-white/10 shadow-2xl bg-white/10 px-4 py-2 rounded-lg hover:bg-white/15 hover:border-white/20 hover:-translate-y-0.5 transition-all duration-300">
        Inicia tu proyecto
    </a>
    </div>
</header>