---

---



<header class=" text-white/90 font-semibold w-full">
    <div class="mx-auto max-w-6xl px-3 flex justify-between items-center  py-5">

            <a href="#hero" class="text-[32px] hover:scale-110 transition-transform duration-300">
                webify
            </a>

        <nav aria-label="Menu de navegacion principal">
            <ul class="flex items-center justify-center gap-x-4 text-[15px] ">
                <li>
                    <a href="" aria-label="Ir a la seccion de los servicios" class=" flex items-center border border-transparent hover:bg-gray-400/5 hover:border-white/10 rounded-lg px-4 py-2 transition-all duration-200">
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="" aria-label="Ir a la seccion del procedimiento" class=" flex items-center border border-transparent hover:bg-gray-400/5 hover:border-white/10 rounded-lg px-4 py-2 transition-all duration-200">
                        Procedimiento
                    </a>
                </li>
                <li>
                    <a href="" aria-label="Ir a la seccion de por que nosotros." class="flex items-center border border-transparent hover:bg-gray-400/5 hover:border-white/10 rounded-lg px-4 py-2 transition-all duration-200">
                        ¿Por que nosotros?
                    </a>
                </li>
                <li>
                    <a href="" aria-label="Ir a seccion de contacto" class=" flex border border-blue-700/30 shadow-2xl shadow-blue-700/20 bg-blue-700 px-4 py-2 rounded-lg hover:bg-blue-600/80 hover:-translate-y-0.5 hover:shadow-blue-700/40 transition-all duration-200">
                        Inicia tu proyecto
                    </a>
                </li>
            </ul>
        </nav>
    
    </div>
</header>